<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hikari Discord Bot</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
    <body>
        <nav class="navbar navbar-expand-sm bg-secondary navbar-light">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link text-white" href="#invite">Invite</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#command">Command</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="#support">Support</a>
                </li>
            </ul>
        </nav>
        <div class="container-fluid">
            <div class="row" id="invite" style="margin-top:20px">
                <a href="https://discordapp.com/oauth2/authorize?&client_id=444432423036649483&scope=bot&permissions=8" target="_blank" class="btn-lg btn-primary mx-auto" role="button">Invite Me</a>
            </div>
            <div class="card" style="margin-top: 20px" id="command">
                <div class="card-header">
                    <h2 class="text-center">Command List</h2>
                </div>

                <div class="card">
                    <div class="card-header text-left">Utility Commands</div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr class="d-flex">
                                    <th class="col-1">#</th>
                                    <th class="col-3">Command</th>
                                    <th class="col-5">Description</th>
                                    <th class="col-3">Alias</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="d-flex">
                                    <td class="col-1">1</td>
                                    <td class="col-3">custom</td>
                                    <td class="col-5">Get the list of server custom command</td>
                                    <td class="col-3">list</td>
                                </tr>
                                <tr class="d-flex">
                                    <td class="col-1">2</td>
                                    <td class="col-3">image</td>
                                    <td class="col-5">Get your own picture with server banner image</td>
                                    <td class="col-3">-</td>
                                </tr>
                                <tr class="d-flex">
                                    <td class="col-1">3</td>
                                    <td class="col-3">logo</td>
                                    <td class="col-5">Get the logo of the server</td>
                                    <td class="col-3">icon</td>
                                </tr>
                                <tr class="d-flex">
                                    <td class="col-1">4</td>
                                    <td class="col-3">profile</td>
                                    <td class="col-5">Get the image of my profile picture or other user</td>
                                    <td class="col-3">avatar, p, a</td>
                                </tr>
                                <tr class="d-flex">
                                    <td class="col-1">5</td>
                                    <td class="col-3">server</td>
                                    <td class="col-5">Get server or guild information</td>
                                    <td class="col-3">serverinfo, guild, guildinfo</td>
                                </tr>
                                <tr class="d-flex">
                                    <td class="col-1">6</td>
                                    <td class="col-3">support</td>
                                    <td class="col-5">Get the link to bot support server</td>
                                    <td class="col-3">-</td>
                                </tr>
                                <tr class="d-flex">
                                    <td class="col-1">7</td>
                                    <td class="col-3">user</td>
                                    <td class="col-5">Get user information or other user information on guild</td>
                                    <td class="col-3">userinfo, u</td>
                                </tr>
                                <tr class="d-flex">
                                    <td class="col-1">8</td>
                                    <td class="col-3">ping</td>
                                    <td class="col-5">Ping to bot cause why not</td>
                                    <td class="col-3">-</td>
                                </tr>
                                <tr class="d-flex">
                                    <td class="col-1">9</td>
                                    <td class="col-3">help</td>
                                    <td class="col-5">Get all command available</td>
                                    <td class="col-3">-</td>
                                </tr>
                                <tr class="d-flex">
                                    <td class="col-1">10</td>
                                    <td class="col-3">prefix</td>
                                    <td class="col-5">Get prefix of the bot on your server</td>
                                    <td class="col-3">-</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header text-left">Giveaway Commands</div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr class="d-flex">
                                    <th class="col-1">#</th>
                                    <th class="col-3">Command</th>
                                    <th class="col-5">Description</th>
                                    <th class="col-3">Alias</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="d-flex">
                                    <td class="col-1">1</td>
                                    <td class="col-3">giveaway</td>
                                    <td class="col-5">create new giveaway. Only user with Manage Server permission can start one</td>
                                    <td class="col-3">ga</td>
                                </tr>
                                <tr class="d-flex">
                                    <td class="col-1">2</td>
                                    <td class="col-3">reroll</td>
                                    <td class="col-5">reroll the last giveaway or messageID of giveaway</td>
                                    <td class="col-3">roll, restart</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header text-left">Admin Commands</div>
                    <div class="card-body">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr class="d-flex">
                                    <th class="col-1">#</th>
                                    <th class="col-3">Command</th>
                                    <th class="col-5">Description</th>
                                    <th class="col-3">Alias</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="d-flex">
                                    <td class="col-1">1</td>
                                    <td class="col-3">cmd-add</td>
                                    <td class="col-5">Add custom command to your server</td>
                                    <td class="col-3">cmdadd, addcmd</td>
                                </tr>
                                <tr class="d-flex">
                                    <td class="col-1">2</td>
                                    <td class="col-3">cmd-rm</td>
                                    <td class="col-5">Remove Custom command from your server</td>
                                    <td class="col-3">rmcmd,removecmd</td>
                                </tr>
                                <tr class="d-flex">
                                    <td class="col-1">3</td>
                                    <td class="col-3">banner</td>
                                    <td class="col-5">set banner image to add picture for welcome message and as background for image command, Recommended size : 1024x450</td>
                                    <td class="col-3">bannerimage, banner-image</td>
                                </tr>
                                <tr class="d-flex">
                                    <td class="col-1">4</td>
                                    <td class="col-3">welcome</td>
                                    <td class="col-5">set channel and message for new member</td>
                                    <td class="col-3">enablewelcome</td>
                                </tr>
                                <tr class="d-flex">
                                    <td class="col-1">5</td>
                                    <td class="col-3">disable-welcome</td>
                                    <td class="col-5">disable welcome message</td>
                                    <td class="col-3">disablewelcome</td>
                                </tr>
                                <tr class="d-flex">
                                    <td class="col-1">6</td>
                                    <td class="col-3">goodbye</td>
                                    <td class="col-5">set channel and message for leaving member</td>
                                    <td class="col-3">enablegoodbye</td>
                                </tr>
                                <tr class="d-flex">
                                    <td class="col-1">7</td>
                                    <td class="col-3">disable-goodbye</td>
                                    <td class="col-5">disable goodbye message</td>
                                    <td class="col-3">disablegoodbye</td>
                                </tr>
                                <tr class="d-flex">
                                    <td class="col-1">8</td>
                                    <td class="col-3">emit</td>
                                    <td class="col-5">emit a welcome message trigger to test your message</td>
                                    <td class="col-3">-</td>
                                </tr>
                                <tr class="d-flex">
                                    <td class="col-1">9</td>
                                    <td class="col-3">log</td>
                                    <td class="col-5">Set Log Channel. Log channel will be used if bot are banning new member with discord link or twitch link and people promoting discord link on server. More features coming soon</td>
                                    <td class="col-3">-</td>
                                </tr>
                                <tr class="d-flex">
                                    <td class="col-1">10</td>
                                    <td class="col-3">timezone</td>
                                    <td class="col-5">Set Local Timezone for your server. All available timezone can be found on <a href="https://en.wikipedia.org/wiki/List_of_tz_database_time_zones">. Command without argument will return your current timezone</td>
                                    <td class="col-3">tz, timezones</td>
                                </tr>
                                <tr class="d-flex">
                                    <td class="col-1">11</td>
                                    <td class="col-3">prefix</td>
                                    <td class="col-5">Set new prefix for the bot on your server</td>
                                    <td class="col-3">tz, timezones</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="row" id="support" style="margin-top:20px; margin-bottom:20px">
                <a href="discord.gg/eNQQbmq" target="_blank" class="btn-lg btn-info mx-auto" role="button">Support Server</a>
            </div>
        </div>

        <footer class="page-footer font-small bg-secondary">

            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2018 Copyright:
                <a href="discord.gg/7rFccnP" class="text-white"> Alvin</a>
            </div>
            <!-- Copyright -->
            
            </footer>
    </body>
</html>